.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-text {
  @include text-style($fw:700, $fs:36px, $lh:1.17, $ls:0.03em);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
}
.clients__item + .clients__item {
  margin-left: 30px;
}
.clients__link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}
}
