.soft-skils {
  background: #ffffff;
  padding-top: 94px;
  padding-bottom: 94px;
}
.soft-skils-list {
  display: flex;
}

.soft-skils__item {
  width: 270px;
  &:not(:last-child) {
  margin-right: 30px;
}
}
.soft-skils__header {
  @include text-style($fw:700, $ls:0.03em);
  text-transform: uppercase;
    margin-bottom: 10px;
}
.soft-skils__paragraph {
  @include text-style(700, 14px, 1.71, 0.03em, #757575);
}
.soft-skils__cont {
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.soft-skils__icon {
  margin: 0 auto;
}