.team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-team {
  @include text-style(700, 36px, 1.17, 0.03em);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.our-team-list {
  display: flex;
}
.our-team__item {
  width: 270px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:not(:last-child) {
  margin-right: 30px;
}
}
.our-team__header {
  @include text-style($fs:16px, $lh:1.17, $ls:0.03em);
  text-align: center;
  letter-spacing: 0.03em;
    margin-bottom: 10px;
}
.our-team__paragraph {
  @include text-style($fs:16px, $lh:1.17, $ls:0.03em, $col:#757575);
  text-align: center;
  margin-bottom: 15px;
}
.our-team-signature {
  padding-top: 30px;
  padding-bottom: 30px;
}

