.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
  margin-top: 50px;
}
.portfolio_item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
}
.portfolio-overlay {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay_p {
  position: absolute;
  top: 0%;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  overflow: auto;
  transform: translatey(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier (0.4, 0, 0.2, 1);
  .portfolio_item:hover & {
  transform: translatey(0%);
}
}
.portfolio_description {
  background: #ffffff;
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}
.portfolio_header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 5px;
}
.portfolio_paragraph {
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.03em;
  color: #757575;
}